.header > h1{
    color: white;
    font-size: 450%;
    text-indent: 10px;
    > span {
        background-color: #F76902;
        padding-top: 0.3em;
    }
}
.header > h4 {
    color: white;
    font-size: 150%;
    font-weight: lighter;
    margin-left: 10%;
    top: -15em;
    > span {
        background-color: black;
    }
}
.header > h2 {
    position: relative;
    top: -5.1em;
    margin-left: 3%;
    color: white;
    font-size: 425%;
}
.header > h3 {
    position: relative;
    font-size: 450%;
    color:#F76902;
    top: -6em;
    margin-left: 3%;
}
.topImage {
    position: relative;
    top: -13em;
    z-index: -1;
    width: 100%;
    height: auto;
}
.text {
    font-size: 150%;
    margin-left: 3%;
    column-count: 4;
    column-gap: 25px;
    column-fill: auto;
}
.text > #oBox {
    background-color: #F76902;
    margin-left: 15px;
    padding: 20px;
}
.text > #gBox {
    background-color: lightgrey;
    margin-left: 15px;
    padding: 20px;
}
.text > b {
    font-size: 75%;
}
.text::first-letter {
    initial-letter: 3;
    margin-right: 8px;
}
.lowImage {
    width: 100%;
    height: 75%;
    margin: 10px;
}
body {
    margin: 40px;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", "sans-serif";
    display: grid;
    grid-template-rows: 18% 13% 15%;
    grid-template-areas:    "image"
                            "text"    
                            "lowerImg";
}